@import mixins

*
   margin: 0

html
   font-size: 10px

body
   font-family: "Maven Pro", Arial, "Helvetica Neue", Helvetica, sans-serif
   text-align: center

ul
   padding: 0
   list-style: none

.wrapper
   margin: 0 auto
   // padding: 0 15px
   max-width: 1920px

header
   padding: 50px
   // min-height: 770px
   background: url(../img/bg-header.png)

.flex-between
   display: flex
   align-items: center
   justify-content: space-between
   flex-wrap: wrap
   column-gap: 20px
   row-gap: 20px

.cta>
   a
      +cta

.menu
   a
      display: inline-block
      img
         vertical-align: bottom
      p
         padding: 0 0 8px 15px
         display: inline-block
         font-weight: 700
         font-size: 30px
         line-height: 29px
         letter-spacing: 6px
         color: #fff
   ul
      display: inline-block
      li
         display: inline-block
         a
            display: inline-block
            padding: 12px 27px
            color: #fff
            font-weight: 500
            font-size: 16px
            line-height: 19px
            text-decoration: none
            border-bottom: 2px solid transparent
            &:hover
               border-bottom: 2px solid #fff
   .cta
      display: inline-block
      a 
         margin-left: 30px
         width: 150px

.header-title
   strong
      font-size: 14px
      letter-spacing: 1px
      line-height: 32px
      color: #ffffff
      font-weight: 700
   h1
      font-size: 86px
      letter-spacing: -3px
      color: #ffffff
      font-weight: 500
   p
      font-size: 16px
      line-height: 28px
      color: #ffffff
      font-weight: 400
   .arrow 
      margin-top: 50px
      display: inline-block
      width: 64px
      height: 64px
      border-radius: 50%
      background-color: #fff
      border: 1px solid transparent
      p 
         display: inline-block
         padding: 16px
         font-size: 24px
         color: #9fa3af
         border-radius: 50%
      &:hover 
         background-color: #756edc
         border: 1px solid white
         p 
            color: #fff

.content 
   padding: 120px 50px

.main-title
   strong
      font-size: 14px
      letter-spacing: 1px
      line-height: 32px
      color: #9fa4af
      font-weight: 700
   h2
      font-size: 60px
      letter-spacing: -2px
      line-height: 72px
      color: #4f4f6f
      font-weight: 500
   p
      font-size: 16px
      line-height: 28px
      color: #9fa4af
      font-weight: 400

.figures
   figure
      width: 440px
      height: 648px
      border-radius: 30px
      background-color: #fff
      border: 1px solid #d7dbe8
      +cardShadow
   b
      font-size: 14px
      letter-spacing: 1px
      line-height: 32px
      color: #9fa4af
      font-weight: 700
   p
      font-size: 16px
      line-height: 28px
      color: #9fa4af
      font-weight: 400
      sup
         font-size: 16px
         letter-spacing: -1px
         line-height: 51px
         color: #4f4f6f
         font-weight: 500
      strong
         font-size: 60px
         letter-spacing: -2px
         line-height: 72px
         color: #4f4f6f
         font-weight: 500
      i
         color: #4f4f6f
         font-style: normal
   .cta
      a
         +ctaShadow
      // &:hover
      //    filter: none

.control
   background: url(../img/bg-control.png)
   strong
      font-size: 14px
      letter-spacing: 1px
      line-height: 32px
      color: #fff
      font-weight: 700
   h2
      font-size: 60px
      letter-spacing: -2px
      line-height: 72px
      color: #fff
      font-weight: 500

.flex-center
   display: flex
   justify-content: center
   flex-wrap: wrap
   column-gap: 50px
   row-gap: 30px

footer
   padding: 50px 50px 0 50px
   .menu
      padding-bottom: 30px
      p
         color: #37374a
      li
         a
            color: #37374a
            &:hover
               color: #756edc

hr
   border: none
   border-top: 1px solid #f2f2f3

.copyright
   padding: 28px 0
   font-size: 14px
   line-height: 19px
   color: #6a6a77
   font-weight: 500

.socials
   a 
      padding-left: 5px
      display: inline-block
      img
         vertical-align: bottom
         filter: grayscale(100%)
         &:hover
            filter: grayscale(0)
