*
   margin: 0

html
   font-size: 10px

body
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
   text-align: center

ul
   padding: 0
   list-style: none

.wrapper
   margin: 0 auto
   padding: 0 15px
   max-width: 1920px

header
   // min-height: 770px
   background: url(../img/bg-header.png)

.flex-between
   display: flex
   justify-content: space-between

.top-menu
   .cta, ul
      display: inline-block
      li
         display: inline-block

.control 
   background: url(../img/bg-control.png)