@import mixins

*
   margin: 0

html
   font-size: 10px

body
   font-family: "Maven Pro", Arial, "Helvetica Neue", Helvetica, sans-serif
   color: #fff
   font-weight: 500
   text-align: center

ul
   padding: 0
   list-style: none

.wrapper
   margin: 0 auto
   // padding: 0 15px
   max-width: 1920px

header
   padding: 50px
   // min-height: 770px
   background: url(../img/bg-header.png) no-repeat

.flex-between
   display: flex
   align-items: center
   justify-content: space-between
   flex-wrap: wrap
   column-gap: 20px
   row-gap: 20px

.flex-center
   display: flex
   justify-content: center
   flex-wrap: wrap
   column-gap: 50px
   row-gap: 30px

.cta>
   a
      +ctaStyle

strong
   text-transform: uppercase

.menu
   a
      display: inline-block
      img
         vertical-align: bottom
      p
         padding: 0 0 10px 15px
         display: inline-block
         color: #fff
         font-weight: 700
         font-size: 30px
         line-height: 29px
         letter-spacing: 6px
   ul
      display: inline-block
      li
         display: inline-block
         a
            display: inline-block
            padding: 12px 27px
            color: #fff
            font-weight: 500
            font-size: 16px
            line-height: 19px
            text-decoration: none
            border-bottom: 2px solid transparent
            &:hover
               border-bottom: 2px solid #fff
   .cta
      display: inline-block
      a
         margin-left: 30px
         width: 150px

.header-title
   padding: 175px 0
   strong
      color: #fff
      font-weight: 700
      font-size: 14px
      line-height: 32px
      letter-spacing: 1px
   h1
      margin: 0 0 10px
      color: #fff
      font-weight: 500
      font-size: 86px
      letter-spacing: -3px
   p.header-description
      display: inline-block
      max-width: 380px
      color: #fff
      font-weight: 400
      font-size: 16px
      line-height: 28px

.arrow
   display: inline-block
   width: 62px
   height: 62px
   background-color: #fff
   border-radius: 50%
   border: 1px solid transparent
   p
      display: inline-block
      padding: 14px
      color: #9fa3af
      font-size: 24px
      border-radius: 50%
   &:hover
      background-color: #756edc
      border: 1px solid white
      p
         color: #fff

.content
   padding: 120px 50px

.main-title
   strong
      color: #9fa4af
      font-weight: 700
      font-size: 14px
      line-height: 32px
      letter-spacing: 1px
   h2
      color: #4f4f6f
      font-weight: 500
      font-size: 60px
      line-height: 72px
      letter-spacing: -2px
   p.main-description
      display: inline-block
      max-width: 380px
      color: #9fa4af
      font-weight: 400
      font-size: 16px
      line-height: 28px

.figures
   padding-top: 100px
   figure
      +cardStyle
      &:hover
         border: 1px solid transparent
         +cardShadow

.control
   padding: 170px 0 185px
   background: url(../img/bg-control.png) no-repeat
   strong
      color: #fff
      font-weight: 700
      font-size: 14px
      line-height: 32px
      letter-spacing: 1px
   h2
      margin: 0 0 15px
      color: #fff
      font-weight: 500
      font-size: 60px
      line-height: 72px
      letter-spacing: -2px

footer
   padding: 50px 50px 0 50px
   .menu
      padding-bottom: 30px
      p
         color: #37374a
      li
         a
            color: #37374a
            &:hover
               color: #756edc
      .cta 
         a 
            color: #fff
            background-color: #6e45e2
            &:hover
               color: #c2c9db
               background-color: #fff               
               border: 1px solid #d7dbe8

hr
   border: none
   border-top: 1px solid #f2f2f3

.copyright
   padding: 28px 0
   color: #6a6a77
   font-weight: 500
   font-size: 14px
   line-height: 19px
   .socials
      a
         padding-left: 5px
         display: inline-block
         img
            vertical-align: bottom
            filter: grayscale(100%)
            &:hover
               filter: grayscale(0)
