- 
   var navMenu = [
      {
         name: "Home", 
         url: "index.html"
      },
      {
         name: "Why MISOCIAL", 
         url: "#"
      },
      {
         name: "Features", 
         url: "#control"
         },
      {
         name: "Articles", 
         url: "#"
      },
      {
         name: "Pricing", 
         url: "#main"
      },

      //- //- Alternative(indexes)
      //- ["Home", "#"],
      //- ["Why MISOCIAL", "#"],
      //- ["Features", "#"],
      //- ["Articles", "#"],
      //- ["Pricing", "#"],
   ] 

- 
   var card = { 
      Free: {
         src: "img/asset-1",
         alt: "asset-1",
         price: "0",
         description: "Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris. Ea commodo consequat.",
         url: "#1",
      }, 
      Home: { 
         src: "img/asset-2",
         alt: "asset-2",
         price: "29",
         description: "Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris. Ea commodo consequat.",
         url: "#2",
      }, 
      Premium: { 
         src: "img/asset-3",
         alt: "asset-3",
         price: "49",
         description: "Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris. Ea commodo consequat.",
         url: "#3",
      } 
   } 