include vars
include mixins

doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0")
      link(rel="stylesheet" href="css/styles.css")
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap" rel="stylesheet">
      title MISOCIAL

   body 
      .wrapper 
         header 
            +menu(navMenu) 
            .header-title
               p 
                  strong SOCIAL MARKETING & ANALYTICS
               h1 Pricing Table
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut. 
               a(class="arrow" href="#") 
                  p &darr;
         main 
            .content 
               .main-title 
                  p 
                     strong MIsocial
                  h2 Select a Plan 
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
               .flex-center.figures 
                  +figure(card.Free) 
                  +figure(card.Home) 
                  +figure(card.Premium) 
            .control 
               p 
                  strong SOCAL MARKETING & ANALYTICS
               h2 Take control of your data
               .flex-center 
                  .cta 
                     a(href="#") get started 
                  .cta 
                     a(href="#") explore features 
         footer 
            +menu (navMenu) 
            hr
            .copyright 
               .flex-between 
                  p &copy; 2017 Mass Impressions & Tranmautritam. Make the right impression.
                  .socials 
                     a(href="#") 
                        img(src="img/ico-fb.png" alt="facebook")
                     a(href="#") 
                        img(src="img/ico-tw.png" alt="twitter")
                     a(href="#") 
                        img(src="img/ico-g+.png" alt="google")
                     a(href="#") 
                        img(src="img/ico-ins.png" alt="instagram")