include vars
include mixins

doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0")
      link(rel="stylesheet" href="css/styles.css")
      title MISOCIAL

   body 
      .wrapper 
         header 
            +menu(navMenu) 
            //- .flex-between.menu 
            //-    .logo 
            //-       a(href="index.html") 
            //-          picture 
            //-             img(src="img/logo.png" alt="logo")
            //-    nav.top-menu 
            //-       ul.menu 
            //-          +menu(navMenu) 
            //-       .cta 
            //-          a(href="#") get started 
            .header-title
               p 
                  strong SOCIAL MARKETING & ANALYTICS
               h1 Pricing Table
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut. 
               .arrow 
         main 
            .main-title 
               p 
                  strong MIsocial
               h2 Select a Plan about  MIsocial? 
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            .flex-center.figures 
               +figure(card.Free) 
               +figure(card.Home) 
               +figure(card.Premium) 
            .control 
               p 
                  strong SOCAL MARKETING & ANALYTICS
               h2 Take control of your data
               .flex-center 
                  .cta 
                     a(href="#") get started 
                  .cta 
                     a(href="#") explore features 
         footer 
            +menu (navMenu) 
            hr
            .copyright 
               .flex-between 
                  p &copy 2017 Mass Impressions & Tranmautritam. Make the right impression.
                  .socials {Socials}
                     // Here will be 4x svg icons